# Prerequisites and Dependency Folders
node_modules/
jspm_packages/
web_modules/

# Build Outputs and Distributions
dist/
build/
out/

# Environment Variables and Private Secrets
.env
.env.local
*.pem

# Logs, Databases, and Diagnostics
*.log
npm-debug.log*
yarn-debug.log*
*.db
*.sqlite

# Operating System Files
.DS_Store
Thumbs.db

# IDE and Code Editor Configurations
.vscode/
.idea/
*.suo
*.ntvs*
